@using Markdig

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["History"];
}
<div class="container">
    <markdown content="@Html.Raw(Localizer["History Text"].Value)"></markdown>
</div>