@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="carousel-header">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img loading="lazy" src="~/images/carousel/image1.jpg" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                    <div class="text-center p-4">
                        <img class="z-3 main-logo mb-3 mb-md-4" src="~/fox.svg" alt="@Localizer["Cortelazor and Sierra de Aracena"]" />
                        <h5 class="text-white text-uppercase fw-bold mb-3 mb-md-4">Vive Cortelazor</h5>
                        <h1 class="display-1 text-capitalize text-white mb-3 mb-md-4">Qué ver</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img loading="lazy" src="~/images/carousel/image2.jpg" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                    <div class="text-center p-4">
                        <img class="z-3 main-logo mb-3 mb-md-4" src="~/fox.svg" alt="@Localizer["Cortelazor and Sierra de Aracena"]" />
                        <h5 class="text-white text-uppercase fw-bold mb-3 mb-md-4">Vive Cortelazor</h5>
                        <h2 class="display-1 text-capitalize text-white mb-3 mb-md-4">Qué hacer</h2>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-secondary" aria-hidden="false"></span>
            <span class="visually-hidden-focusable">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon bg-secondary"></span>
            <span class="visually-hidden-focusable">Next</span>
        </button>
    </div>
</div>