.introduction {
    padding: 30px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 110px;
    border-radius: 12px;
}

@media (max-width: 575px) {
    .introduction {
        margin-bottom: 220px;
        padding: 10px;
    }
}

@media (max-width: 767px) {
    .introduction {
        margin-bottom: 220px;
     }
}