@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="main-logo z-3 position-fixed start-50 translate-middle-x">
    <img class="img-fluid" src="~/fox.svg" alt="@Localizer["Cortelazor and Sierra de Aracena"]" />
</div>

<div class="carousel-header">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img loading="lazy" src="https://www.evaristocuesta.es/fotos-inicio/fotografianaturaleza.jpg" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                    <div class="text-center p-4">
                        <h5 class="text-white text-uppercase fw-bold mb-3 mb-md-4">Qué ver</h5>
                        <h1 class="display-1 text-capitalize text-white mb-3 mb-md-4">VIVE CORTELAZOR</h1>
                        <p class="text-white mb-4 mb-md-5 fs-5">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img loading="lazy" src="https://www.evaristocuesta.es/fotos-inicio/fotografianocturna.jpg" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                    <div class="text-center p-4">
                        <h5 class="text-white text-uppercase fw-bold mb-3 mb-md-4">Vive Cortelazor</h5>
                        <h1 class="display-1 text-capitalize text-white mb-3 mb-md-4">Qué hacer</h1>
                        <p class="text-white mb-4 mb-md-5 fs-5">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-secondary" aria-hidden="false"></span>
            <span class="visually-hidden-focusable">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon bg-secondary"></span>
            <span class="visually-hidden-focusable">Next</span>
        </button>
    </div>
</div>