.introduction {
    padding: 30px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 110px;
    border-radius: 12px;
}

.posts {
    padding: 30px;
    background-color: white;
    margin-top: 20px;
    border-radius: 12px;
}

.post-home {
    padding: 15px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.post-home img {
    max-height: 200px;
    border-radius: 12px;
}

.smaller-text {
    font-size: 1.5rem;
}

@media (min-width: 992px) {
    .post-home hr {
        display: none;
    }
}

@media (max-width: 575px) {
    .introduction {
        margin-bottom: 220px;
        padding: 10px;
    }
}

@media (max-width: 767px) {
    .introduction {
        margin-bottom: 220px;
     }
}