@using Markdig

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Privacy"];
}
<div class="container">
    <markdown content="@Html.Raw(Localizer["Privacy Text"].Value)"></markdown>
</div>