@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = $"{Localizer["What to do"].Value} - Vive Cortelazor - Sierra de Aracena";
    ViewData["Keywords"] = Localizer["Keywords"];
    ViewData["Description"] = Localizer["Description"];
    ViewData["Image"] = "https://www.vivecortelazor.es/images/what-to-do/iglesia-nuestra-senora-remedios.jpg";
    ViewData["ImageWidth"] = "1920";
    ViewData["ImageHeight"] = "1199";
    ViewData["Robots"] = "all";
}

<div class="container">
    <div class="article">
        <markdown content="@Html.Raw(Localizer["What to do text"].Value)"></markdown>
    </div>
</div>