:root {
    --background-color: #cbdbd1;
    --color-palette-light-1: #a8c0b1;
    --color-palette-light-2: #f1f6f3;
    --color-palette-dark-1: #687f71;
    --color-text-button: #ffffff;
    --color-text-background: #ffffff;
}

html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 92px;
    background-color: var(--background-color);
    font-family: Quicksand, sans-serif;
}

h1 {
    color: var(--color-palette-dark-1);
}

h2 {
    color: var(--color-palette-dark-1);
}

h3 {
    color: var(--color-palette-dark-1);
}

h4 {
    color: var(--color-palette-dark-1);
}

h5 {
    color: var(--color-palette-dark-1);
}

a {
    text-decoration: none;
    font-weight: 600;
    color: var(--color-palette-dark-1);
}

a:hover {
    color: var(--color-palette-light-1);
}

.logo-navbar {
    width: 45px;
}

.dropdown-item.active {
    background-color: var(--color-palette-dark-1);
}