:root {
    --background-color: #cbdbd1;
    --color-palette-light-1: #a8c0b1;
    --color-palette-light-2: #f1f6f3;
    --color-palette-dark-1: #687f71;
    --color-text-button: #ffffff;
    --color-text-background: #ffffff;
}

html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 92px;
    background-color: var(--background-color);
    font-family: Quicksand, sans-serif;
}

@media (max-width: 767px) {

    body {
        margin-bottom: 205px;
    }
}

h1 {
    color: var(--color-palette-dark-1);
}

h2 {
    color: var(--color-palette-dark-1);
}

h3 {
    color: var(--color-palette-dark-1);
}

h4 {
    color: var(--color-palette-dark-1);
}

h5 {
    color: var(--color-palette-dark-1);
}

a {
    text-decoration: none;
    font-weight: 600;
    color: var(--color-palette-dark-1);
}

.slim {
    font-weight: var(--bs-body-font-weight);
}

a:hover {
    color: var(--color-palette-light-1);
}

.logo-navbar {
    width: 45px;
}

.logo-footer {
    width: 65px;
}

.main-logo {
    position: absolute !important;
    width: 150px !important;
    height: 150px !important;
    top: 100px !important;
}

.custom-toggler {
    position: absolute;
    right: 15px;
    top: 20px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dropdown-item.active {
    background-color: var(--color-palette-dark-1);
}

.social-icons {
    text-align: center;
}

a.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--color-palette-dark-1);
    color: var(--color-text-button);
    border-radius: 100%;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1.5rem;
}

.social-icon:last-child {
    margin-right: 0;
}

a.social-icon:hover {
    background-color: var(--color-text-button);
    color: var(--color-palette-dark-1);
}

/*** Carousel Hero Header Start ***/

.carousel-caption div {
    max-width: 900px;
}

.carousel-header .carousel-control-prev .carousel-control-prev-icon,
.carousel-header .carousel-control-next .carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
    margin-left: -60px;
    border-radius: 50%;
    background-size: 60% 60%;
    transition: 0.5s;
}

.carousel-header .carousel-control-next .carousel-control-next-icon {
    margin-left: 0;
    margin-right: -60px;
}

.carousel-header .carousel-inner .carousel-item {
    position: relative;
    min-height: 100vh
}

    .carousel-header .carousel-inner .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carousel-header .carousel-inner .carousel-item .carousel-caption {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.6));
        background-size: cover;
    }


@media (max-width: 767px) {

    .carousel-header .carousel-control-prev .carousel-control-prev-icon,
    .carousel-header .carousel-control-next .carousel-control-next-icon {
        margin-top: 450px;
    }

    .carousel-header .carousel-control-prev .carousel-control-prev-icon {
        margin-left: 0px;
    }

    .carousel-header .carousel-control-next .carousel-control-next-icon {
        margin-right: 0px;
    }
}

@media (max-width: 575px) {
    .carousel-header .carousel-control-prev .carousel-control-prev-icon,
    .carousel-header .carousel-control-next .carousel-control-next-icon {
        width: 3rem;
        height: 3rem;
    }
}
/*** Carousel Hero Header End ***/