.accommodations {
    max-width: 796px;
    margin-left: auto;
    margin-right: auto;
}

.accommodation {
    max-width: 796px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: white;
    padding: 25px;
    border-radius: 12px;
}
